<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:replace="fragments/header :: header"></div>
  <a th:href="@{/posts}">Posts</a>
  <form th:method="POST"  th:action="@{/posts}" th:object="${post}">
    <input hidden="true" th:field="*{id}" id="id"/>

    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>

    <label for="contain">Enter contain: </label>
    <input type="text" th:field="*{contain}" id="contain"/>
    <br/>
    <input type="submit" value="Create"/>
  </form>

  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>