<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:insert="fragments/head :: head"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1 th:text="${post.title}" class="border-bottom"></h1>
    <div  th:utext="${post.contain}"></div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="d-flex flex-row col-md">
                    <div th:each="image : ${post.images}" >
                        <a th:href="@{/img/} + ${image.name}">
                            <img th:src="@{/img/} + ${image.name}" th:alt="${image.name}" height="100px">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="col-md text-end">
                    <p th:text="${#temporals.format(post.dateCreate, 'dd-MM-yyyy')}"></p>
                    <a th:href="@{/users/{id}(id=${post.user.id})}" th:text="'@'+${post.user.username}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>