<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <nav>
    <ul>
      <li><a th:href="@{/}">Main</a></li>
      <li><a th:href="@{/posts}">Posts</a></li>
      <li><a th:href="@{/users}">Users</a></li>
      <li sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/admin/users}">Admin users</a>
      </li>
      <li>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
          <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
          </form>
        </div>
        <div th:if="${!#authorization.expression('isAuthenticated()')}">
          <form th:action="@{/login}" method="get">
            <input type="submit" value="Log In"/>
          </form>
        </div>
      </li>
    </ul>
  </nav>
</header>