<header class="p-3 text-bg-dark" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" th:href="@{/}" style="font-size: 20px"><i class="bi me-2"><b>Loqui</b></i></a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-white" th:href="@{/posts}">Posts</a></a></li>
                <li><a class="nav-link px-2 text-white" th:href="@{/users}">Users</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a class="nav-link px-2 text-primary" th:href="@{/admin/users}">Admin
                    users</a></li>
                <li><a class="nav-link px-2 text-white">About</a></li>
                <li><a class="nav-link px-2 text-white" th:href="@{/topics}">Topics</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-2" role="search" id="searchForm">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                       aria-label="Search">
            </form>
            <button form="signIn" class="btn btn-outline-success my-2 my-sm-0  me-5" type="submit"><i class="fas fa-magnifying-glass"></i></button>

            <div class="text-end">
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post" id="signOut">
                        <!--              <input type="submit" value="Sign Out" class="btn btn-outline-light me-2"/>-->
                    </form>
                    <button form="signOut" type="submit" class="btn btn-warning">Sign-out</button>
                </div>

                <div th:if="${!#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/register}" method="get" id="signIn">
                        <!--              <input type="submit" value="Sign Out" class="btn btn-outline-light me-2"/>-->
                    </form>
                    <form th:action="@{/login}" method="get" id="loginForm">
                        <!--              <input type="submit" value="Log In"/>-->
                    </form>
                    <button form="loginForm" type="submit" class="btn btn-outline-light me-1">Login</button>
                    <button form="signIn" type="submit" class="btn btn-warning">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</header>