body {
		min-height: 100vh;
		background-color: #59afcc;//#001120 //#ffff0f //#ffafcc //#59afcc
	}
.sticky-footer{
	position: sticky;
	top: 100%;
}
.list-group-flush>.list-group-item {
       border-bottom-width: 0;
}


.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 5px;
}

.custom-file-upload:hover {
    background-color: #138496;
    border-color: #117a8b;
}

